

.p1{
    color: red;
    font-size: larger;
    text-align: center;
}
.q1{
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-align: center;
}
.bd{
    background-image:url('../images/fresh.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
div p{
    color: blue;

}
img[alt="img1"]{
    height: 400px;

}
.div1{
    height: 250px;
    width: 310px;
    background-color: white;
    /* background-image: url('../images/login.jpg'); */
}
.bor{
    color: blue;
}
.hh{
    color: brown;
}
.hh{
    color: blue;
}
.bo{
    color: black;
    border-width: 5px;
    border-style: dashed;
}
.ma{
    margin-top: 50px;
}
