

.p1{
    color: red;
    font-size: larger;
    text-align: center;
}
.q1{
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-align: center;
}
.bd{
    background-image:url('../images/signup\ page1.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
}
div p{
    color: blue;

}
img[alt="img1"]{
    height: 400px;

}
.div1{
    height: 250px;
    width: 310px;
    background-color: white;
    /* background-image: url('../images/login.jpg'); */
    border: 4px;
    border-style: double;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
   
}
.bor{
    color: blue;
}
.hh{
    color: brown;
}
.hh{
    color: blue;
}
.bo{
    color: black;
    border-width: 5px;
    border-style: dashed;
}
.ma{
    margin-top: 80px;
}

img[alt="logo"]{
    height: 40px;
}
.heading{
    font-family:'' , sans-serif;
    padding-right: 10px;

}
.bh{
    font-family: sans-serif;
    padding-right: 10px;
    padding-top: -20px;
    
}