{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <h1 class="hh">hiii</h1>
    <h2 class="bo">border</h2>
    <h1 class="ma">margin</h1>
    <h1 class="pp">heloo</h1>
    <br>
    <img src="{%static 'images/logo.jpeg' %}" alt=""> <br><br><br>
    <div class="div2">
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi ut expedita rem aspernatur laboriosam dignissimos. Placeat, commodi veritatis ipsam nihil neque consectetur explicabo! Et tenetur tempora quo recusandae itaque eligendi.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi dicta et sunt voluptatibus adipisci saepe, placeat non? Molestias aut, alias doloribus magni excepturi soluta ea provident laboriosam id sint omnis?
    <h1 align="center" size="20">shabeeb</h1>
    </div>
   <h2 class="shab">
       shabeeb
   </h2>
   <br>
   <h2 class="tk">tkkkk</h2>
   <br><br><br>
   <div class="box">
       
         <div class="box1"> </div>
         <div class="box2"></div>
         <div class="box3"></div>



   </div>



</body>

</html>