{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="inbg">

    <center>
        <h1 class="heading">F R E S H  &nbsp; M A R T <h3 class="bh">SUPER MARKET</h3> 

        <BR></BR><BR></BR><BR>
        <div class="indiv">
            <h3><u> sign in</h3></u>

            <form action="">

                <label for="phone number">phone number </label> &nbsp; &nbsp;&nbsp;&nbsp;
                <input type="number" placeholder="enter your number" maxlength="10">
                <br><br>
                <label for="password">password</label>&nbsp; &nbsp;&nbsp;&nbsp;
                <nbsp></nbsp> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" placeholder="enter your password">
                <br><br>
                <input type="submit"> 
                <br>
                <p style="color: black;">don't have an account? <a href="signup">signup</a></p>
                

        </div>

        </form>
    </center>





    
</body>
</html>