<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>

    <script>
        // alert('helloo')
        // confirm('are you sure?')


       number1 =  parseInt(prompt('enter first number'))
       console.log(number1)

       number2 = parseInt(prompt('enter second number'))
       console.log(number2)

       number3 = parseInt(prompt('enter third number'))
       console.log(number3)

    //    sum = number1 + number2
    //    console.log(sum)
    //    alert(sum)

    if (number1 > number2) {
        console.log('the greastest number is', number1)

    }else if(number)


    else{
        console.log('the greastest number is', number2)
    }
       

    </script>
</body>
</html>