{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    
<!-- <ul id="names1"></ul> 

<ul id="name2"></ul>

<h5>fruits list</h5>
<ul id="fruits"></ul>

<h5>vegitable list</h5>
<ul style="list-style: none;" class="li" id="vegitables">

</ul>
<h4>hehii</h4> -->


<!-- <li>kannur</li>
<li>kozhikode</li>
<li>kasargode</li>
<li>alapuzha</li>
<li>kottayam</li> -->


<button onclick="alert('welcome')">
click
</button>


<script>
    // studentName = 'shabeeb';
    // studentId = 10.0;
    // status1 = false;
    
    // console.log(studentName)
    // console.log(studentId)
    // console.log(typeof(studentId))
    // console.log(typeof(studentName))
    // console.log(typeof(status1))

    number1 = 20
    number2 = 30
    sum = number1 + number2
    console.log(sum)



   marks = [12,58,66,13,45];
   console.log(typeof(marks)) 
   console.log(marks[2])

   student = {'name':'shabeeb','age':22, 'place':'kannur', 'salary':3000} 
   console.log(student)
   console.log(student['name'])

   students = {1:'rashi', 2:'19', 3:'kannur', 4:'10000'}
   console.log(students)

</script>















<!-- <script src="./static/main.js"></script>     -->
</body>
</html>