{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="mainbar container-fluid bg-warning">
        <img class="logoimg" src="{% static 'images/cyber logo.webp' %}" alt="">

        <h6 class="homebutton"><a href="home1">Home</a></h6>
      <h6 class="aboutbutton"><a href="sample3">About us</a></h6>
      <h6 class="contactbutton"><a href="sample4">Contact us</a></h6>
    </div>
    <h4 align="center" class="whoweare fw-bold">Who We Are?</h4>
 <br>
    <div class="imgbar container-fluid">
        <img class="img-responsive mx-auto d-block" src="./static/images/who we are.jpg" alt="" width="480px" height="300px">
         </div>
         <br><br>

<p align="center">
    Cyber Square is a unique online learning platforms for students and teachers <br>
    that teaches coding. Artificial inteligence, Robotics, and the internet of <br>
    things lot at schools Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
     Fuga praesentium amet sed asperiores minima voluptate et iusto dolores eum enim. <br>
      Iste illum ut maiores non id suscipit recusandae similique aliquam.

</p>
<br>
<div class="Cybersquare1 container-fluid bg-light"><br>
    <h6 align="center" class="text-capitalize">website content 2021 @ cybersquare | all rights reserved</h6>
  
  </div>
    
</body>
</html>