{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="mainbar container-fluid bg-warning position-sticky ">
        <img class="logoimg" src="{% static 'images/cyber logo.webp' %}" alt="">
        
        <h6 class="homebutton"><a href="home1">Home</a></h6>
      <h6 class="aboutbutton"><a href="sample3">About us</a></h6>
      <h6 class="contactbutton"><a href="sample4">Contact us</a></h6>
    </div>

    <div class="contactdiv">
    <h3 class="fw-bold">Contact us</h3> 
    <br>
    <h6>phone:</h6> <br>
    +44-984647744673(UK) <br>
    +971-579973275(UAE) <br>
    +91-9177367372(IND) <br>
    <br>
    <h6>Email:</h6> <br>
    Contact@cybersquare.org
</div>

<div>
    <img class="contact111" src="{% static 'images/contact1.png' %}" alt="">
</div>

<div class="Cybersquare1 container-fluid bg-light"><br>
    <h6 align="center" class="text-capitalize">website content 2021 @ cybersquare | all rights reserved</h6>
  
  </div>
    


</body>
</html>